.header {
  display: grid;
  place-items: center;
  text-align: center;
}

.loader {
  display: grid;
  place-items: center;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 29px;
}

@media (max-width: 1170px) {
  .user-list {
    margin: 0 60px 0 60px;
  }
}

@media (max-width: 768px) {
  .user-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 32px 0 32px;
  }
}

@media (max-width: 360px) {
  .user-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 0 16px 0 16px;
  }
}
