@import '../../styles/typography';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.header {
  @extend .heading;
  margin: 0 16px 50px 16px;
  text-align: center;
}

.form {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  input {
    width: 380px;
  }

  button {
    align-self: center;
  }
}

.radio {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 7px;
}

.loader {
  margin: 0 auto;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 16px 100px 16px;

  h1 {
    @extend .heading;
    text-align: center;
  }

  img {
    max-width: 330px;
    height: auto;
  }
}

@media (max-width: 400px) {
  .form {
    width: 320px;
    padding: 0 16px 0 16px;

    input {
      width: 320px;
    }
  }


}
