@use '../../styles/palette' as *;
@import '../../styles/typography';

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  max-width: 344px;
  flex: 1;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.text {
  @extend .p;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.info {
  width: 100%;
}
